html{
    font: 16px sans-serif;
}
*{
    margin:0px ;
    padding: 0px;
    box-sizing: border-box;
}
.chrome{
    height: 10vh;
}
header{
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.menu{
    width: 28px;
    margin-right: 10px;
}
.logo{
    font-weight: 600;
    margin-left: 10px;
}
.body{
    height:200vh ;
}
.bodygrid{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(40,1fr);
}
.bcontainer{
    grid-area:1/1/17/13 ;
    border: 2px solid rgb(161, 6, 6);
}
.infocontainer{
    grid-area:15/3/19/11 ;
    border:3px solid yellow;
}
.page2{
    grid-area: 17/1/41/13;
    border:3px solid yellow;
}
.background{
    
    height:30vh ;

}
.s5{
    background-color: black;
    width:360px;
    height:640px;
}